<div class="w-6/12 h-full flex flex-col" id="account-select">
  <div class="search flex flex-col w-10/12 overflow-y-auto my-4 overflow-y-auto self-center ">
    <%= form_with url: select_accounts_path, class: "mb-4", id: "select-accounts-form", method: :get do |f| %>
      <%= f.select :account, @accounts.map {|account| [account.name, account.id ]}, {include_blank: "Select Account"}, {class: "select-accounts w-9/12 border-black border-2"} %>
  
      <%= f.submit "Go", class: "w-12 h-8 bg-blue-600 text-indigo-100 text-center" %>
    <% end %>
    <div class="flex">
      <button class="filter-tasks w-28 h-8 bg-blue-600 text-indigo-100 text-center border">Filter Tasks</button>
      <button class="new-task w-28 h-8 bg-blue-600 text-indigo-100 text-center border">New Task</button>
    </div>
  </div>
  <!-- <div id="search-form">
    <form>
      <input type="text" id="query-text">
      <input type="submit">
    </form>
  </div> -->
</div>

<template id="new-task-form">
  <div>
    <%= form_with(scope: :task, url: tasks_path, remote: true) do |f| %>
      <h1 class="text-center">New Task</h1>
      <div class="flex flex-col space-y-5 mt-5 justify-center">
        <div>
          <%= f.label :account %><br>
          <%= f.select(:account_id, @accounts.map {|account| [account.name, account.id ]}, {include_blank: "-- select an option --"}, {class: "body-option w-10/12", id:"task-accounts"}) %>
        </div>
        <div>
          <%= f.label :description %><br>
          <%= f.text_field(:description, class: "body-option w-10/12", id: "task-description") %>
        </div>
        <div class="flex space-x-4">
          <div>
            <%= f.label :start_date %><br>
            <%= f.date_field(:start_date, class: "body-option", id: "task-start-date") %>
          </div>
          <div>
            <%= f.label :due_date %><br>
            <%= f.date_field(:due_date, class: "body-option", id: "task-due-date") %>
          </div>
        </div>
        <div class="flex space-x-4">
          <div>
            <%= f.label :task_type %><br>
            <%= f.select(:task_type, {}, {include_blank: "-- select an option --"}, {class: "body-option w-56", id:"task-type"}) %>
          </div>
          <div>
            <%= f.label :task_subtype %><br>
            <%= f.select(:task_subtype, {}, {include_blank: "-- select an option --"}, {class: "body-option w-56", id:"task-sub-type", :disabled => true}) %>
          </div>
        </div>
        <div>
          <%= f.label :opportunity %><br>
          <%= f.select(:opportunity_id, {}, {include_blank: "-- select an option --"}, {class: "body-option w-10/12", id:"account-opportunities", :disabled => true}) %>
        </div>
        <div>
          <%= f.submit "Create Task" %>
        </div>
      </div>
    <% end %>
  </div>
</template>

<template id="filter-tasks-form">
  <div>
    <form id="filter-tasks-form">
      <h1 class="text-center">Filter Tasks</h1>
      <div class="flex flex-col space-y-5 mt-5 justify-center">
        <div class="space-y-4" id="task-date-filters">
          <label>Date Filters</label>
          <div>
            <input type="radio" name="due-date">
            <span id="due-on">Is due: </span>
            <input type="date">
          </div>
          <div>
            <input type="radio" name="due-date">
            <span id="due-before">Is due before: </span>
            <input type="date">
          </div>
          <div>
            <input type="radio" name="due-date">
            <span id="due-between-1">Is due between: </span>
            <input type="date">
            <span id="due-between-2">& </span>
            <input type="date">
          </div>
        </div>
        <div class="space-y-1 flex justify-around text-sm" id="task-type-filter-section">
          <div class="space-y-2">
            <label class="mb-2">Task Type Filters</label>
            <ul id="task-types-ul" class="space-y-1">
            </ul>
          </div>
          <div class="space-y-1" id="other-filters">
            <label>Other Filters</label>
            <div>
              <input type="checkbox">
              <label class="text-xs">Accounts With Opportunities This Quarter</label>
            </div>
            <div>
              <input type="checkbox">
              <label class="text-xs">Top 25</label>
            </div>
          </div>
        </div>
        <input type="submit" value="Filter" class="bg-blue-400 border-3 border-black rounded-md cursor-pointer">
      </div>
    </form>
    <button class="bg-blue-400 border-3 border-black rounded-md" id="reset-task-filter">Reset Filters</button>
  </div>
  
</template>











<%= javascript_include_tag "tasks" %>



